<div class="card">

  <cardHeader title="Address" (reset)="onReset()" [(collapsed)]="collapsed" [(editing)]="editing"></cardHeader>

  <div [hidden]="collapsed">

    <div class="card-block">

      <div class="container">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" [(ngModel)]="model.city" [disabled]="!editing">
        </div>

        <div class="form-group">
          <label for="postalCode">Postal Code</label>
          <input type="text" class="form-control" [(ngModel)]="model.postalCode" [disabled]="!editing">
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" [(ngModel)]="model.country" [disabled]="!editing">
        </div>

        <div class="form-group">
          <label for="administrativeArea">Administrative Area</label>
          <input type="text" class="form-control" [(ngModel)]="model.administrativeArea" [disabled]="!editing">
        </div>

        <div class="form-group">
          <label for="deliveryPoint">Delivery Point</label>
          <strings [list]="model.deliveryPoint" [disabled]="!editing"></strings>
        </div>

        <div class="form-group">
          <label for="electronicMailAddress">Electronic Mail Address</label>
          <strings [list]="model.electronicMailAddress" [type]="'email'" [disabled]="!editing"></strings>
        </div>
      </div>
    </div>
  </div>
</div>
